
a {
    background-color: black;
    color: #f1f1f1;
    font-size: 20px;
    padding: 10px;
}
.menu {
    margin-bottom: 50px;
}
.kursi {
    width: 30%;
    float: left;
    background-color: #f1f1f1;
    /* border: 1px red solid; */
    margin-right: 15px;
    text-align: center;
    border-radius: 20px 20px 20px 20px ;
    transition: 0.5s ease-in-out;
}

.kursi:hover {
    padding: 10px;
    box-shadow: 10px 5px 5px rgb(121, 120, 120);
}





.kontaktforma {
    background-color: #dd0f7b;
    padding: 20px; ;

    
}

#kontakt { 
    border: 4px white solid;
    border-radius: 20px;
    padding-top: 20px ;
    padding-bottom: 20px;
    padding-left: 10px;

}

#kontakt label {
    text-transform: uppercase;
    color: white;

}

#kontakt input, #textarea {
margin-bottom: 10px;
padding: 10px;
border: unset;
border-radius: 0 20px 20px 0;
}